<div class="title-container">
	<h1>Welcome</h1>
</div>

<p>
This is a meal plans app that allow you to create a weekly meal plan automatically with existing recipes. Note that you can also add your recipes.
</p>
<p>
Simply go to Meal Plans on the top bar menu and create a new one.
</p>
